# Insurance Forecast
## Objective
The purpose of the analysis is to predict individual medical costs billed by health insurance based on age, sex, BMI, smoking, and region.
### Team Members
* Jason Zelaya
* Madeleine Merken
* Shannon Chang

### Data Source
Kaggle: https://www.kaggle.com/mirichoi0218/insurance
### Data Content
* Age: age of primary beneficiary
* Sex: insurance contractor gender, male/female
* BMI: body mass index derived from the weight and height of an individual, ideally 18.5 to 24.9
* Smoker: smoking or not
* Region: the beneficiary's residential area in the US, northeast/southeast/southwest/northwest
* Charges: individual medical costs billed by health insurance

## Data Validation
Since the model should conform to the assumptions of linear regression to actually be usable in practice, we examine the data set to check:
* The regression model is linear in parameters
* The mean of residuals is zero
* Homoscedasticity of residuals or equal variance
* No autocorrelation of residuals

## ML Algorithm Validation
Supervised learning using linear regression

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Read the csv file into a pandas DataFrame
insurance = pd.read_csv('insurance.csv')
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
# Cleaning the data
insurance = insurance.drop(columns="children")
insurance

      age     sex     bmi smoker     region      charges
0      19  female  27.900    yes  southwest  16884.92400
1      18    male  33.770     no  southeast   1725.55230
2      28    male  33.000     no  southeast   4449.46200
3      33    male  22.705     no  northwest  21984.47061
4      32    male  28.880     no  northwest   3866.85520
5      31  female  25.740     no  southeast   3756.62160
6      46  female  33.440     no  southeast   8240.58960
7      37  female  27.740     no  northwest   7281.50560
8      37    male  29.830     no  northeast   6406.41070
9      60  female  25.840     no  northwest  28923.13692
10     25    male  26.220     no  northeast   2721.32080
11     62  female  26.290    yes  southeast  27808.72510
12     23    male  34.400     no  southwest   1826.84300
13     56  female  39.820     no  southeast  11090.71780
14     27    male  42.130    yes  southeast  39611.75770
15     19    male  24.600     no  southwest   1837.23700
16     52  female  30.780     no  northeast  10797.33620
17     23    male  23.845     no  northeast   2395.17155
18     56    male  40.300     no  southwest  10602.38500
19     30    male  35.300    yes  southwest  36837.46700
20     60  female  36.005     no  northeast  13228.84695
21     30  female  32.400     no  southwest   4149.73600
22     18    male  34.100     no  southeast   1137.01100
23     34  female  31.920    yes  northeast  37701.87680
24     37    male  28.025     no  northwest   6203.90175
25     59  female  27.720     no  southeast  14001.13380
26     63  female  23.085     no  northeast  14451.83515
27     55  female  32.775     no  northwest  12268.63225
28     23    male  17.385     no  northwest   2775.19215
29     31    male  36.300    yes  southwest  38711.00000
...   ...     ...     ...    ...        ...          ...
1308   25  female  30.200    yes  southwest  33900.65300
1309   41    male  32.200     no  southwest   6875.96100
1310   42    male  26.315     no  northwest   6940.90985
1311   33  female  26.695     no  northwest   4571.41305
1312   34    male  42.900     no  southwest   4536.25900
1313   19  female  34.700    yes  southwest  36397.57600
1314   30  female  23.655    yes  northwest  18765.87545
1315   18    male  28.310     no  northeast  11272.33139
1316   19  female  20.600     no  southwest   1731.67700
1317   18    male  53.130     no  southeast   1163.46270
1318   35    male  39.710     no  northeast  19496.71917
1319   39  female  26.315     no  northwest   7201.70085
1320   31    male  31.065     no  northwest   5425.02335
1321   62    male  26.695    yes  northeast  28101.33305
1322   62    male  38.830     no  southeast  12981.34570
1323   42  female  40.370    yes  southeast  43896.37630
1324   31    male  25.935     no  northwest   4239.89265
1325   61    male  33.535     no  northeast  13143.33665
1326   42  female  32.870     no  northeast   7050.02130
1327   51    male  30.030     no  southeast   9377.90470
1328   23  female  24.225     no  northeast  22395.74424
1329   52    male  38.600     no  southwest  10325.20600
1330   57  female  25.740     no  southeast  12629.16560
1331   23  female  33.400     no  southwest  10795.93733
1332   52  female  44.700     no  southwest  11411.68500
1333   50    male  30.970     no  northwest  10600.54830
1334   18  female  31.920     no  northeast   2205.98080
1335   18  female  36.850     no  southeast   1629.83350
1336   21  female  25.800     no  southwest   2007.94500
1337   61  female  29.070    yes  northwest  29141.36030

[1338 rows x 6 columns]

In [4]:
# Use Pandas get_dummies to convert categorical data
insurance = pd.get_dummies(insurance)
insurance.head()

,age,bmi,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,3866.85520,0,1,1,0,0,1,0,0