In [18]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [19]:
# Read the csv file into a pandas DataFrame
df = pd.read_csv('insurance_cleaned.csv')
df.head()

,Unnamed: 0,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,0,19,27.900,0,16884.92,1,0,0,1,0,0,0,1
1,1,18,33.770,1,1725.55,0,1,1,0,0,0,1,0
2,2,28,33.000,3,4449.46,0,1,1,0,0,0,1,0
3,3,33,22.705,0,21984.47,0,1,1,0,0,1,0,0
4,4,32,28.880,0,3866.86,0,1,1,0,0,1,0,0

In [20]:
# ***Need to remove "Unnamed" from dataframe***

# df = df.drop(columns='Unnamed: 0')
# df.head()

In [21]:
# Assign X to the independent variables we will use and assign y to the dependent variable that we will be trying to predict

X = df[['age', 'bmi', 'children', 'sex_female', 'smoker_no', 'region_northeast', 'region_northwest', 'region_southeast', 'region_southwest']]
y = df['charges'].values.reshape(-1, 1)
print(X.shape, y.shape)

(1338, 9) (1338, 1)

In [22]:
# Split our data into training data and testing data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# stratify=y is causing the issue

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [23]:
# Create a Logistic Regression Model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [25]:
# Fit (train) or model using the training data

classifier.fit(X_train, y_train)

# NameError: name 'X_train' is not defined
# Reason: the cell that defined X_train does not run